<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <link rel="stylesheet" href="/css/style.css">
    <div class='container' id='maincontent'>
        <h1>Error</h1>
        <p><%= error %></p>
        <p><%= policy %></p>
        <a class='btn btn-primary' href='https://hw7-gae-bautijon.wl.r.appspot.com/'>Go Back to First Page</a>
    </div>
</body>

</html>