<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 493: Portfolio - User Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <link rel="stylesheet" href="/css/style.css">
    <div class="container" id='maincontent'>
        <h1>User Info</h1>
        <a class='btn btn-primary' href='/'>Go Back to First Page</a>
        <br>
        <p><b>User ID:</b> <%= user_id %></p>
        <p><b>Access Token:</b> <%= access_token %></p>

    </div>
</body>

</html>