h1, h3 {
  text-align: center;
}

body {
    background-color: #2A4373;
    background-size: cover;
}
  
#maincontent {
    min-height: 100vh;
    background: white;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}
  